{#{% extends 'base.html.twig' %}#}

{#{% block title 'Se connecter' %}#}
{#{% block body %}#}
{#    <div class="container mt-4">#}
{#        {% if error %}#}
{#            <div class="alert alert-danger">#}
{#                {{ error.messageKey  }}#}
{#            </div>#}
{#        {% endif %}#}

{#        <div class="row" style="display:flex;#}
{#  justify-content: center;">#}
{#            <div class="col-sm-7">#}
{#                <div class="well">#}
{#        <form action="{{ path('login') }}" method="POST" >#}
{#            <legend><i class="fa fa-lock" aria-hidden="true"></i> Nom d'admin</legend>#}
{#            <div class="form-group">#}

{#                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" />#}
{#            </div>#}
{#            <legend><i class="fa fa-lock" aria-hidden="true"></i> Mot de passe</legend>#}
{#            <div class="form-group">#}

{#                <input type="password" id="password" name="_password" class="form-control" />#}
{#            </div>#}
{#            <br>#}
{#            <button type="Submit" class="btn btn-primary">Se connecter </button>#}
{#        </form>#}
{#                </div></div></div>#}
{#    </div>#}

{#{% endblock %}#}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Se connecter</title>

    <!-- Custom fonts for this template-->
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">

                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block " style="background-size: cover;background-repeat: no-repeat;
                                background-position: center;;background-image: url('{{ asset('images/cron-job.jpg') }}')">

                        </div>

                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form action="{{ path('login') }}" method="POST" >
                                    <div class="form-group">

                                        <input type="text" id="username" name="_username" class="form-control form-control-user"
                                               placeholder="Nom d'utilisateur..." value="{{ last_username }}" />
                                    </div>
                                    <div class="form-group">

                                        <input type="password" id="password" name="_password"
                                               class="form-control form-control-user" placeholder="Mot de passe..." />
                                    </div>
                                    <button type="Submit" class="btn btn-primary btn-user btn-block">Se connecter </button>
                                    <hr>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('js/sb-admin-2.min.js') }}"></script>

</body>

</html>
