
    <div class="row" style="margin: auto;
  width: 50%;

  padding: 10px; ">

        <div class="well">
            {{ form_start(form) }}
            <legend><i class="fa fa-lock" aria-hidden="true"></i> Nom de l'administrateur</legend>
                <div class="card"><div class="card-body">{{ form_widget(form.name) }}</div></div>
            <br><br>
            <legend><i class="fa fa-lock" aria-hidden="true"></i> Mot de passe</legend>
            <div class="card"><div class="card-body">{{ form_widget(form.password) }}</div></div>
            <br><br>
            <legend><i class="fa fa-lock" aria-hidden="true"></i> Email </legend>
            <div class="card"><div class="card-body">{{ form_widget(form.email) }}</div></div>
           <br><br>
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
            <a class="btn btn-warning" href="{{ path('app_admin_index') }}">Retour</a>
            {{ form_end(form) }}

        </div></div>

