
<div class="row" style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px; ">

    <div class="well">
        {{ form_start(form) }}
        <legend><i class="fa fa-lock" aria-hidden="true"></i> Le numero du job cron</legend>
        <div>{{ JobCron.numero }}</div>

        <legend><i class="fa fa-lock" aria-hidden="true"></i> Nom du job cron</legend>
        <div>{{ form_widget(form.name) }}</div>
        <legend><i class="fa fa-lock" aria-hidden="true"></i> Expression</legend>
        <div>{{ form_widget(form.expression) }}</div>
        <legend><i class="fa fa-lock" aria-hidden="true"></i> Etat du job</legend>
        <div>{{ form_widget(form.state) }}</div>
        <legend><i class="fa fa-lock" aria-hidden="true"></i> Actif </legend>
        <div>{{ form_widget(form.actif) }}</div>
        <legend><i class="fa fa-lock" aria-hidden="true"></i> Le créateur </legend>
        <div>{{ JobCron.createdBy }}</div>
        <legend><i class="fa fa-lock" aria-hidden="true"></i> La commande à exécuter </legend>
        <div>{{ form_widget(form.scriptExec) }}</div>
        <br>
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div></div>

